<html>
    <head>
        <title>Список страниц главбух</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>

<body>
    <div>
        <h2>Страницы и их готовность</h2>
        <ol>
            <li><a href="index.html">Главная +</a></li>
            <li><a href="news.html">Новости +</a></li>
            <li><a href="vakancii.html">Вакансии +</a></li>
            <li><a href="staff.html">Сотрудники +</a></li>
            <li><a href="staff-detail.html">Менеджер +</a></li>
            <li><a href="reviews.html">Отзывы +</a></li> 
            <li><a href="contacts.html">Контакты +</a></li> 
            <li><a href="aggregator.html">Агрегатор +</a></li>
            <li><a href="internal-page-realty.html">Внутр стр недвижимости +</a></li>
            <li><a href="residential-complex.html">Детальная страница ЖК +</a></li>
            <li><a href="news-detail.html">Статья/Новость +</a></li>
            <li><a href="about-company.html">О компании +</a></li>
            <li><a href="catalog.html">Каталог недвижимости +</a></li>
        </ol>
    </div>
    <div>
        <h2>Общие задачи</h2>
        <ol>
            <li>- Сделать икноки на всем сайте +</li>
            <li>- Сделать табы активными + </li>
            <li>- Сделать все модалки(6 штук(из них 2 текстовые))</li>
            <li>- Поправить фоны с фотками+</li>
            <li>- Поправить шейпы +</li>
            <li>- Слова не на одной линии+</li>
        </ol>
    </div>
    <style>
        a {
            display: block;
            font-size: 18px;
            color: #333;
            font-family: 'sans-serif';
            margin-bottom: 15px;
            text-transform: lowercase;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
    </style>
</body>

</html>