.review__top__row {
  display: flex;
  font-size: 68px;
  line-height: 1;
  color: #F4F4F4;
  margin-top: 4px;
}
.review__top__row .stars {
  display: flex;
  align-items: flex-end;
  margin-left: 16px;
  margin-bottom: 10px;
}
.review__top__row .stars svg {
  margin-right: 5px;
}

.review__top {
  margin-bottom: 56px;
}

.reviews__list {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 42px;
}

.reviews__list__flex {
  margin: 0 -50px;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: calc(50% - 100px);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 65px;
  display: flex;
}
.reviews__item .stars {
  margin-bottom: 25px;
}

.reviews__item__img {
  width: 105px;
  height: 105px;
  min-width: 105px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-right: 29px;
}
.reviews__item__img .big {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  overflow: hidden;
}
.reviews__item__img .img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.reviews__item__top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 5px;
}

.revieww__item__name {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-right: 35px;
  font-weight: bold;
  font-family: var(--gilroy);
}

.revieww__item__data {
  font-size: 16px;
  line-height: 19px;
  margin-top: 5px;
}

.reviews__item__des__text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 7px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 351px;
}

.reviews__item__des .reviews__hide-more {
  display: none;
}

.reviews__item__des.active .reviews__item__des__text {
  display: block;
}
.reviews__item__des.active .reviews__hide-more {
  display: block;
}
.reviews__item__des.active .reviews__show-more {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.pagination__left {
  flex: 1;
  display: flex;
  margin-right: 15px;
}
.pagination__left a {
  margin-right: 5px;
  padding: 5px;
}
.pagination__left a:hover, .pagination__left a.active {
  color: #fff;
}

.pagination__arows {
  flex: 1;
  margin-left: 15px;
  display: flex;
  justify-content: flex-end;
}
.pagination__arows a {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
}
.pagination__arows a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pagination__select {
  display: flex;
  justify-content: center;
}

.reviews_form {
  padding-top: 56px;
}
.reviews_form h2 {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.02em;
  margin-bottom: 21px;
}
.reviews_form .textarea_box {
  width: 100%;
  height: 192px;
  position: relative;
}
.reviews_form .textarea_reviews_form {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 20px 40px;
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: none;
  color: #181818;
}
.reviews_form .count_words {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 55px;
  color: #181818;
  z-index: 2;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  opacity: 0.5;
}
.reviews_form .btn_rating_box_reviews_form {
  margin-top: 21px;
  display: flex;
  align-items: center;
}
.reviews_form .btn_reviews_form {
  width: 306px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  color: #3C4AD2;
  margin-right: 56px;
  background: white;
  border: 0px solid white;
  font-weight: 500;
}
.reviews_form .title_rating_reviews_form {
  font-size: 16px;
  line-height: 19px;
  color: white;
  opacity: 0.5;
}
.reviews_form .check_list_reviews_form {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}
.reviews_form .check_list_reviews_form input[type=radio] {
  display: none;
}
.reviews_form .label_rating {
  float: right;
  display: block;
  width: 50px;
  height: 30px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='31' viewBox='0 0 32 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16 1L20.635 10.39L31 11.905L23.5 19.21L25.27 29.53L16 24.655L6.73 29.53L8.5 19.21L1 11.905L11.365 10.39L16 1Z' stroke='%23F5C52E' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.reviews_form .check_list_reviews_form .label_rating:hover,
.reviews_form .check_list_reviews_form .label_rating:hover ~ .label_rating,
.reviews_form .check_list_reviews_form input[type=radio]:checked ~ .label_rating {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 0L19.635 9.39L30 10.905L22.5 18.21L24.27 28.53L15 23.655L5.73 28.53L7.5 18.21L0 10.905L10.365 9.39L15 0Z' fill='%23F5C52E'/%3e%3c/svg%3e ");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .reviews__item {
    width: 100%;
  }

  .reviews__item__content {
    width: calc(100% - 135px);
  }

  .reviews__item__des__text {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .reviews .h1 {
    margin-bottom: 29px;
  }
  .reviews .reviews__list {
    border-top: 0px solid white;
    padding-top: 0;
  }
  .reviews .review__top {
    margin-bottom: 49px;
  }
  .reviews .reviews__item {
    width: 100%;
    flex-wrap: wrap;
  }
  .reviews .reviews__item__top {
    align-items: center;
    margin-bottom: 0;
  }
  .reviews .revieww__item__data {
    line-height: 18px;
  }
  .reviews .reviews__item__content {
    width: 100%;
    margin-top: 28px;
  }
  .reviews .reviews__item__img .img {
    bottom: -11px;
  }
  .reviews .reviews__item:last-child {
    margin-bottom: 0;
  }
  .reviews .pagination {
    border-top: 0px solid white;
    padding-top: 55px;
  }
  .reviews .pagination__left {
    display: none;
  }
  .reviews .pagination__select {
    display: none;
  }
  .reviews .pagination__arows {
    margin-left: 0;
    justify-content: center;
  }
  .reviews .pagination__arows a {
    position: relative;
  }
  .reviews .pagination__arows a {
    margin-left: 25px;
  }
  .reviews .pagination__arows a:first-child {
    margin-left: 0;
  }
  .reviews .pagination__arows a:first-child:before {
    content: "";
    display: block;
    position: absolute;
    right: -12px;
    height: 34px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .reviews .reviews_form {
    padding-top: 38px;
  }
  .reviews .reviews_form h2 {
    font-size: 24px;
    line-height: 1;
  }
  .reviews .reviews_form .textarea_box {
    height: 254px;
  }
  .reviews .reviews_form .btn_rating_box_reviews_form {
    flex-wrap: wrap;
    margin-top: 46px;
  }
  .reviews .reviews_form .btn_reviews_form {
    margin: 0px auto;
    order: 1;
  }
  .reviews .reviews_form .rating_box_reviews_form {
    display: flex;
    flex-wrap: wrap;
    order: 0;
    margin-bottom: 42px;
  }
  .reviews .reviews_form .title_rating_reviews_form {
    width: 100%;
    text-align: center;
  }
  .reviews .reviews_form .check_list_reviews_form {
    width: 100%;
    justify-content: center;
  }
}
/*# sourceMappingURL=reviews.css.map */
